<mat-sidenav-container>
    <mat-sidenav fxLayout.lg="20" fxLayout.sm="80" #drawer 
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'side' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Perfil</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item  [routerLink]="['/usuario/perfil/datos-personales']">Datos Personales</a>
        <a mat-list-item  [routerLink]="['/usuario/perfil/postulaciones-recibidas']">Postulaciones Recibidas</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex>
      <mat-toolbar  *ngIf="isHandset$ | async">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>          
      </mat-toolbar>
      
  
  
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
  