<div>
    <app-carrusel-home></app-carrusel-home>
</div>
<div class="presentacion">
    <h1>¿Quiénes somos?</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum tempus augue a ullamcorper. Pellentesque non nibh sed erat efficitur luctus eget in lectus. Ut rhoncus diam justo, in laoreet justo placerat eget. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In sed feugiat elit. Nam maximus, sapien non ornare efficitur, sem leo ullamcorper lacus, et condimentum lorem dolor at diam. Sed et placerat elit, id auctor lacus. Nulla gravida magna non est placerat imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Morbi laoreet erat non urna iaculis sodales. Aenean dapibus diam eget tellus consequat, et pellentesque sem egestas.
    </p>
</div>
<mat-divider></mat-divider>
<div>
    <app-patrocinadores></app-patrocinadores>
</div>